<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/myapp"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Dd9DamOm9xQGKsvI2e5jWx7t" />

        <activity
            android:name="com.myapp.MainUI"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".normalstation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".specification"
            android:label="@string/state" >
        </activity>
        <activity
            android:name="com.myapp.location"
            android:label="@string/location" >
        </activity>
        <activity
            android:name="com.myapp.alert"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".alertdialog"
            android:label="@string/warning"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".station"
            android:label="@string/condition" >
        </activity>
        <activity 
            android:name=".SMS_alert"
            android:label="@string/sms"
            android:theme="@android:style/Theme.Dialog"
            ></activity>
        <activity android:name="org.achartengine.GraphicalActivity" />

        <service
            android:name=".service"
            android:label="@string/service" >
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>